@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
.logo {
    margin-bottom: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
span {
    font-weight: bold;
    font-size: 26px;
    display: flex;
}
.span1 {
    color: #3366ff;
}
.span2 {
    color: #ff3d71;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #c1c5d0;
}

.navbar .menu .active {
    color: #3366ff;
    border-bottom: 2px solid #3366ff;
}
.menu {
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-size: 14px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: fff;
    padding-left: 40px;
    padding-right: 40px;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.profile-name { 
    font-weight: bold;
}
/* batas navigasi */
.payment {
    display: flex;
    background-color: white;
    margin: 140px 80px;
    border-radius: 30px;
}
form{
    display: flex;
    flex-direction: column;
}
.left{
    color: #373A42;
    width: 30%;
    padding-left: 88px;
    padding-right: 88px;
    margin-top: 71px;


}
.left .method{
    width: 315px;
    height: 45px;
    display: flex;  
    flex-direction: row;
    text-align: left;   
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 40px;  
    gap: 15px;
    
}
.left .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}
.left .card button{
    height: 30px;
    background-color: transparent;
    border: 1px blue dashed;
    border-radius: 10px;
}
.up{
    background-color: transparent;
    border: none;
}
.down{
    background-color: transparent;
    border: none;
}
.left .method .space{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.label1{
    width: 64.73px;
    height: 45px;
    background-color: #884DFF33;
    align-content: center;
    text-align: center;
    border-radius: 10px;

}
.label2{
    width: 64.73px;
    height: 45px;
    background-color: #FC105533;
    align-content: center;
    text-align: center;
    border-radius: 10px
}
.label3{
    width: 64.73px;
    height: 45px;
    background-color: #FF890033;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}
.label4{
    width: 64.73px;
    height: 45px;
    background-color: #3366FF33;
    align-content: center;
    text-align: center;
    border-radius: 10px;
}
.logo-payment{
    width: 24px;
    height: 24px;
}

.right{
    margin-top: 71px;
    padding-left: 88px;
    padding-right: 88px;
    width: 50%;
}
.ticket{
    border-left: 2px #C1C5D040 solid;
    padding-left: 100px
}
.ticket-detail{
    margin-top: 50;
    color: #373A42;
    display: flex;
    flex-direction: column;
}
.ticket-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    
}
.ticket-text span{
    font-size: 14px;
}

.right .ticket .value{
    color:  blue
}
.payment-btn:hover{
    background-color: #6c87d8;
}
.ticket-detail button{
    color: white;
    margin-top: 50px;
    background-color: #3366ff;
    border-radius: 15px;
    width: 100%;
    height: 55px;
    border: none;

}
